body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Montserrat', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #692CD1;
  color: #FFF;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Montserrat', 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  color: white;
  font-size: 8em;
  font-weight: 600;
}

#navbar {
  height: 6em;
  border-radius: 0 0 5% 5%;
}

.navlink {
  display: flex;
  justify-content: center;
}

#auth-button {
  display: flex;
  justify-content: center;
}

#hero {
  height: 110vh;
}

#learn-more {
  display: flex;
  margin: 20em auto 0; 
  justify-content: center;
  font-size: 1.5em;
  font-weight: 100;
  opacity: 0.8;
}

#chevron-container {
  display: flex;
}

#downward-chevron {
  margin: 0 auto;
  position: relative;
  animation: chevron 1s alternate ease-in-out infinite;
}

.page-content {
  padding: 0 5% 0;
}

#login-request-container {
  display: flex;
  justify-content: center;
  padding-top: 2em;
  margin-bottom: 3em;
}

#login-request {
  width: 30%;
}

.card-left-section-container {
  display: flex;
  justify-content: flex-start;
  margin: 8em 0;
}

.card-right-section-container {
  display: flex;
  justify-content: flex-end;
  margin: 20em 0;
}

.bullets-right {
  margin-left: auto;
  margin-right: 3em;
}

.bullets-left {
  margin-right: auto;
}

/*Animations */
@-webkit-keyframes chevron {
  0%   { opacity: 0; top: 10px; }
  100% { opacity: 1; top: 0px; }
}
@-moz-keyframes chevron {
  0%   { opacity: 0; top: 10px; }
  100% { opacity: 1; top: 0px; }
}
@-o-keyframes chevron {
  0%   { opacity: 0; top: 10px; }
  100% { opacity: 1; top: 0px; }
}
@keyframes chevron {
  0%   { opacity: 0; }
  100% { opacity: 1; }
  0%   { opacity: 0; top: 10px; }
  100% { opacity: 1; top: 0px;}
}

/* Media Rules */
@media only screen and (max-width: 769px) {
  h1 {
    font-size: 4em;
  }
  
  #login-request {
    width: 90%;
  }
}

@media only screen and (max-width: 361px) {
  #learn-more {
    margin: 8em auto 0; 
  }

  .homepage-card {
    width: 90% !important;
  }
}
